# Assignment 3

## 1. Setup

Import modules

In [1]:
import pandas as pd
from sklearn.svm import SVC
from matplotlib import pyplot as plt
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

np.random.seed(1)

## 2. Load data

Load data (it's already cleaned and preprocessed)

In [2]:
# Uncomment the following snippet of code to debug problems with finding the .csv file path
# This snippet of code will exit the program and print the current working directory.
#import os
#print(os.getcwd())

In [3]:
df = pd.read_csv('C:/Users/Admin/Downloads/RidingMowers.csv') # let's use the same data as we did in the logistic regression example
df.head(3)

   Income  Lot_Size Ownership
0    60.0      18.4     Owner
1    85.5      16.8     Owner
2    64.8      21.6     Owner

In [4]:
train_df, test_df = train_test_split(df, test_size=0.3)

target = 'Ownership'
predictors = list(df.columns)
predictors.remove(target)

X_train = train_df[predictors]
y_train = train_df[target] # train_target is now a series objecttrain_df.to_csv('airbnb_train_df.csv', index=False)
X_test = test_df[predictors]
y_test = test_df[target]

In [5]:
X_train

    Income  Lot_Size
2     64.8      21.6
19    66.0      18.4
6    108.0      17.6
7     82.8      22.4
21    33.0      18.8
1     85.5      16.8
16    84.0      17.6
0     60.0      18.4
15    43.2      20.4
23    63.0      14.8
22    51.0      14.0
9     93.0      20.8
8     69.0      20.0
12    75.0      19.6
11    81.0      20.0
5    110.1      19.2

In [6]:
y_train

2        Owner
19    Nonowner
6        Owner
7        Owner
21    Nonowner
1        Owner
16    Nonowner
0        Owner
15    Nonowner
23    Nonowner
22    Nonowner
9        Owner
8        Owner
12    Nonowner
11       Owner
5        Owner
Name: Ownership, dtype: object

## 3. Model the data

In [7]:
X_test

    Income  Lot_Size
13    52.8      20.8
18    59.4      16.0
3     61.5      20.8
14    64.8      17.2
20    47.4      16.4
17    49.2      17.6
10    51.0      22.0
4     87.0      23.6

First, let's create a dataframe to load the model performance metrics into.

In [8]:
y_test

13    Nonowner
18    Nonowner
3        Owner
14    Nonowner
20    Nonowner
17    Nonowner
10       Owner
4        Owner
Name: Ownership, dtype: object

In [9]:
performance = pd.DataFrame({"model": [], "Accuracy": [], "Precision": [], "Recall": [], "F1": []})

### 3.1 Fit a SVM classification model using linear kernal

In [10]:
svm_lin_model = SVC(kernel="linear", probability = True)
lin = svm_lin_model.fit(X_train, np.ravel(y_train))

In [11]:
model_preds = svm_lin_model.predict(X_test)
c_matrix = confusion_matrix(y_test, model_preds)
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
performance = pd.concat([performance, pd.DataFrame({'model':"linear svm", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])

In [12]:
TP

3

In [13]:
TN

5

In [14]:
FP

0

In [15]:
FN

0

### 3.2 Fit a SVM classification model using rbf kernal

In [16]:
svm_rbf_model = SVC(kernel="rbf", C=10, gamma='scale')
rbf = svm_rbf_model.fit(X_train, np.ravel(y_train))

In [17]:
model_preds = svm_rbf_model.predict(X_test)
c_matrix = confusion_matrix(y_test, model_preds)
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
performance = pd.concat([performance, pd.DataFrame({'model':"rbf svm", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])

### 3.3 Fit a SVM classification model using polynomial kernal

In [18]:
svm_poly_model = SVC(kernel="poly", degree=3, coef0=1, C=10)
poly = svm_poly_model.fit(X_train, np.ravel(y_train))

In [19]:
model_preds = svm_poly_model.predict(X_test)
c_matrix = confusion_matrix(y_test, model_preds)
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
performance = pd.concat([performance, pd.DataFrame({'model':"poly svm", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])

## 4.0 Summary

In [20]:
performance

        model  Accuracy  Precision    Recall        F1
0  linear svm     1.000   1.000000  1.000000  1.000000
0     rbf svm     0.750   0.666667  0.666667  0.666667
0    poly svm     0.875   1.000000  0.666667  0.800000

As seen from the above table linear svm is the best model. The accuracy, precision, Recall, F1 score is best as compared with other rbv and poly svm.

In [21]:
import pickle

pickle.dump(lin, open('C:/Users/Admin/Downloads/svm.pkl', "wb"))